{% extends "base_html.html" %}

{% block title %}Dodaj nowy Katalog{% endblock %}

{% block link %}
    <link rel="stylesheet" href="../../static/compiler/css/generic.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Dodaj nowy Katalog</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="parent_catalog">Katalog nadrzędny:</label>
            <select id="parent_catalog" name="parent_catalog">
                <option value="">Brak</option>
                {% for catalog in catalogs %}
                    <option value="{{ catalog.id }}">{{ catalog.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Dodaj Katalog">
        </form>
    </div>
{% endblock %}
